.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.maximum {
  composes: smallText from '../../components/Typography/Typography.module.css';
  margin-top: 1rem;
}

.amountLine {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.amount {
  composes: inputKiltAmount from '../../components/Input/Input.module.css';
  margin-left: 3.25rem;
  width: 10rem;
}

.amountError {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
}

.amount:focus ~ .amountError {
  display: none;
}

.all {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  composes: smallImportant from '../../components/Typography/Typography.module.css';
  text-decoration: underline;
  padding: 0.5rem 0.75rem;
}

.setTip {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  width: 1.125rem;
  height: 1.125rem;
}

.setTip:disabled {
  opacity: 0.5;
}

.increase {
  composes: setTip;
  background-image: url('../../components/images/plus-circle-orange.svg');
}

.decrease {
  composes: setTip;
  background-image: url('../../components/images/minus-circle-orange.svg');
}

.totalLine {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.total {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-variant-numeric: tabular-nums;
}

.tip {
  composes: smallImportant from '../../components/Typography/Typography.module.css';
  margin-top: 0.5rem;
}

.recipientLine {
  margin-top: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-areas: 'full';
  position: relative;
}

.recipient {
  composes: input from '../../components/Input/Input.module.css';
  grid-area: full;
  padding-right: 0.5rem;
}

.recipientWithButton {
  composes: recipient;
  padding-right: 2.5rem;
}

.recipientError {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
}

.submitLine {
  position: relative;
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.offlineError {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
}
