.linkBack {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  position: absolute;
  left: 1.5rem;
  top: 2rem;
  height: calc(13rem / 16);
  width: 2rem;
  background-image: url('../images/arrow-left.svg');
}
