.slideInfo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.nameContainer {
  position: relative;
}

.name {
  composes: accountText from '../../components/Typography/Typography.module.css';
}
