.view {
  min-width: var(--popup-width);
  width: var(--popup-width);
  max-width: var(--popup-width);
  min-height: var(--popup-height);
  height: var(--popup-height);
  max-height: var(--popup-height);
  background: url('../images/background.png') no-repeat center/contain;
  padding: 4rem 1.5rem 0;
  box-sizing: border-box;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
