.input {
  composes: inputText from '../Typography/Typography.module.css';
  height: 2rem;
  padding: 0 1rem 0.125rem;
  border: 0;
  border-radius: 1.125rem;
  box-shadow: inset 1px 1px 1px 0 rgb(var(--color-black-rgb) / 40%);
  background-color: var(--color-dark);
  background-image: var(--input-gradient);
  caret-color: var(--color-grey-light);
}

.input::selection {
  background-color: var(--color-orange);
}

.input::placeholder {
  color: var(--color-grey-medium);
  opacity: 1;
}

.inputName {
  composes: input;
  background-image: url('../images/pencil.svg'), var(--input-gradient);
  background-size: auto;
  background-repeat: no-repeat;
  background-position:
    calc(100% - 0.75rem) center,
    0;
  padding-right: 2.25rem;
}
