.input {
  composes: inputText from '../Typography/Typography.module.css';

  height: 2rem;
  padding: 0 1rem 0.125rem 1rem;
  border: 0;
  border-radius: 1.125rem;
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  background-color: var(--color-pink);
  background-image: linear-gradient(
    140deg,
    var(--color-pink) 0%,
    var(--color-dark) 100%
  );
  caret-color: var(--color-grey-light);
}

.input::selection {
  background-color: var(--color-orange);
}

.input::placeholder {
  color: var(--color-grey-medium);
  opacity: 1;
}

/* https://selleo.com/til/posts/xhgzlfgcql-a-way-to-make-autofilled-inputs-background-transparent */
.input:autofill {
  transition: all 5000s;
}

.input:-webkit-autofill {
  transition: all 5000s;
}

.inputKiltAmount {
  composes: input;

  text-align: right;
  background-image: url('../images/kilt-coin.svg'),
    linear-gradient(140deg, var(--color-pink) 0%, var(--color-dark) 100%);
  background-size: calc(13rem / 16) 1rem, auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center, 0;
  padding-right: 2rem;
}

.inputKiltAmount[type='number'] {
  -moz-appearance: textfield;
}

.inputKiltAmount[type='number']::-webkit-inner-spin-button,
.inputKiltAmount[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
