.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.details {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.detailName {
  width: 30%;
  margin: 0.125rem;
  text-align: left;
}

.detailValue {
  width: 50%;
  margin: 0.125rem;
  text-align: left;
}

.label {
  composes: smallText from '../../components/Typography/Typography.module.css';
  text-align: left;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin: 0;
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
  top: 2.5rem;
}
