.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  margin: 0;
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0.25rem 0 0.5rem 0;
}

.details {
  composes: smallText from '../../components/Typography/Typography.module.css';
  color: var(--color-grey-light);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.detailName {
  width: 38%;
  margin: 0.125rem;
  text-align: right;
}

.detailValue {
  composes: accountText from '../../components/Typography/Typography.module.css';
  color: var(--color-orange);
  font-size: 0.75rem;
  width: 50%;
  margin: 0.125rem;
  text-align: left;
}

.detailOwnValue {
  composes: detailValue;
  text-decoration: underline;
}

.costs {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-size: 1.25rem;
  margin: 0.5rem 0 1rem;
}

.account {
  composes: accountText from '../../components/Typography/Typography.module.css';
  margin: 1.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.tartan {
  composes: tartan from '../../components/Avatar/Avatar.module.css';
  --size: calc(29rem / 16);
  width: var(--size);
  height: var(--size);
}

.label {
  composes: smallText from '../../components/Typography/Typography.module.css';
  text-align: left;
}

.name {
  composes: input from '../../components/Input/Input.module.css';
  width: calc(100% - 2rem);
  margin-top: 0.5rem;
}

.passwordLine {
  display: block;
  position: relative;
  margin: 0.5rem 0 1.5rem;
}

.password {
  composes: input from '../../components/Input/Input.module.css';
  width: calc(100% - 3.5rem);
  padding-right: 2.5rem;
}

.buttonsLine {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}
