.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.didLine {
  composes: didLine from '../../components/CopyValue/CopyValue.module.css';
  margin-top: 1.5rem;
}

.details {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0.5rem 0 0;
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  width: 80%;
  margin: 0;
}

.paypal {
  font-family: 'Montserrat Bold', sans-serif;
}

.label {
  color: var(--color-grey-medium);
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
}

.next {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.back {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}
