.container {
  composes: container from '../../components/View/View.module.css';
  height: calc(100% - 3rem);
  overflow-y: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.button {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  display: inline-block;
  box-sizing: border-box;
  width: calc(137rem / 16);
  margin: calc(6rem / 16);
}

.add {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  margin-top: 1rem;
}

.buttonWide {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  width: 100%;
  padding: 0;
  border: none;
  box-shadow: none;
  margin: 0.25rem 0;
}

.subscan {
  composes: buttonWide;
  background:
    url('../../components/images/subscan-logo.svg') no-repeat 0.75rem center,
    rgb(var(--color-black-rgb) / 30%) url('../../components/images/chevron-right.svg')
    no-repeat right 5% center/0.375rem 0.75rem;
}

.credentials {
  composes: buttonWide;
  background:
    url('../../components/images/show-credentials.svg') no-repeat 0.75rem center,
    rgb(var(--color-black-rgb) / 30%) url('../../components/images/chevron-right.svg')
    no-repeat right 5% center/0.375rem 0.75rem;
}

.upgrade {
  composes: buttonWide;
  background:
    url('../../components/images/manage-did.svg') no-repeat 0.75rem center,
    rgb(var(--color-black-rgb) / 30%) url('../../components/images/chevron-right.svg')
    no-repeat right 5% center/0.375rem 0.75rem;
}

.avatarSmall {
  composes: avatar from '../../components/Avatar/Avatar.module.css';

  --size: calc(24rem / 16);

  width: var(--size);
  height: var(--size);
  align-self: center;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  background: rgb(var(--color-orange-rgb) / 60%) no-repeat;
}
