.container {
  composes: container from '../../components/View/View.module.css';
  height: calc(100% - 3rem);
  overflow-y: scroll;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.button {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  display: inline-block;
  box-sizing: border-box;
  width: calc(137rem / 16);
  margin: calc(6rem / 16);
}

.add {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  margin-top: 1rem;
}

.subscan {
  composes: buttonWide from '../../components/Button/Button.module.css';

  --wide-button-icon: url('../../components/images/subscan-logo.svg');
}

.credentials {
  composes: buttonWide from '../../components/Button/Button.module.css';

  --wide-button-icon: url('../../components/images/show-credentials.svg');
}

.downloadPrompt {
  composes: credentials;

  --wide-button-icon: url('../../components/images/download-prompt.svg');
}

.upgrade {
  composes: buttonWide from '../../components/Button/Button.module.css';

  --wide-button-icon: url('../../components/images/manage-did.svg');
}

.manage {
  composes: buttonWide from '../../components/Button/Button.module.css';

  --wide-button-icon: url('../../components/images/manage-did.svg');
}

.web3Name {
  composes: buttonWide from '../../components/Button/Button.module.css';

  --wide-button-icon: url('../../components/images/web3name.svg');
}

.web3NameManage {
  width: 80%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.avatarSmall {
  composes: avatar from '../../components/Avatar/Avatar.module.css';

  --size: calc(24rem / 16);

  width: var(--size);
  height: var(--size);
  align-self: center;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  background: rgb(var(--color-orange-rgb) / 60%) no-repeat;
}
