.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.credentials {
  composes: fullWidthContainer from '../../components/View/View.module.css';
  list-style: none;
  height: calc(288rem / 16);
}

.importCredential {
  composes: card from '../../components/Card/Card.module.css';
  composes: importantHeadline from '../../components/Typography/Typography.module.css';
  display: flex;
  height: 3.25rem;
  padding: calc(11rem / 16) 0 0 1.5rem;
  color: var(--color-grey-light);
  font-size: 0.75rem;
  text-decoration: none;
}

.noCredentials {
  composes: card from '../../components/Card/Card.module.css';
  height: calc(100% - 2.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  composes: importantHeadline from '../../components/Typography/Typography.module.css';
  font-size: 1.125rem;
  color: rgb(var(--color-white-rgb) / 33%);
  margin: 5rem 0 1.25rem;
}

.explainerLink {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.add {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  margin-top: 1rem;
}
