.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  margin-bottom: 1rem;
}

.cardContainer {
  composes: fullWidthContainer from '../../components/View/View.module.css';
  list-style: none;
  max-height: calc(250rem / 16);
}

.warning {
  composes: importantHeadline from '../../components/Typography/Typography.module.css';
  margin: 1rem 0;
  font-size: 1.375rem;
}

.downloaded {
  composes: warning;
  color: var(--color-lightest);
}

.download {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.done {
  composes: subline from '../../components/Typography/Typography.module.css';
}

.close {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  padding: 0;
}
