.overlay {
  composes: overlay from '../Overlay/Overlay.module.css';
}

.info {
  composes: text from '../Overlay/Overlay.module.css';
  background: url('../images/info.svg') no-repeat top center/4rem;
  padding-top: 5rem;
  margin-top: 0;
}

.close {
  composes: button from '../Overlay/Overlay.module.css';
}

.show {
  composes: buttonIcon from '../Button/Button.module.css';
  background: url('../images/info-solid.svg') no-repeat center/100%;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  margin-top: 0.125em;
}
