.buttonPrimary {
  composes: buttonText from '../Typography/Typography.module.css';
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  height: 2.25rem;
  line-height: 2.25rem;
  border: 1px solid var(--color-white);
  border-radius: 1.125rem;
  padding: 0 2rem;
  background: linear-gradient(rgba(var(--color-black-rgb), 0) 0%, rgba(var(--color-black-rgb), 0.4) 100%);
  box-shadow:
    inset -1px 1px 1px 0 rgba(var(--color-white-rgb), 0.1),
    0.375rem 0.375rem 0.75rem 0 rgba(var(--color-black-rgb), 0.2);
  cursor: pointer;
}

.buttonPrimary:disabled,
.buttonPrimary[aria-disabled=true] {
  opacity: 0.5;
  color: var(--color-grey-medium);
  border: 1px solid rgba(var(--color-grey-light-rgb), 0.3);
}

.buttonSecondary {
  composes: buttonText from '../Typography/Typography.module.css';
  height: 2.25rem;
  border: 0;
  padding: 0 2rem;
  background: none;
  text-decoration: underline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonSecondary:disabled,
.buttonSecondary[aria-disabled=true] {
  opacity: 0.5;
  color: var(--color-grey-medium);
}

.buttonTertiary {
  composes: buttonPrimary;
  box-sizing: border-box;
  border: 2px solid var(--color-dark);
  background: var(--input-gradient);
  line-height: 2rem;
}

.buttonTertiary:disabled,
.buttonTertiary[aria-disabled=true] {
  opacity: 0.4;
}

.buttonIcon {
  border: 0;
  padding: 0;
  background: none no-repeat center/contain;
  display: inline-flex;
  cursor: pointer;
}

.circle {
  composes: buttonIcon;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-size: auto;
}

.buttonCheckmark {
  composes: circle;
  background-image:
    url('../images/checkmark.svg'),
    linear-gradient(#335a87 0%, var(--color-dark) 100%);
  margin: 0 0.375rem 0 0.375rem;
  box-shadow:
    inset -1px 1px 1px 0 rgba(var(--color-white-rgb), 0.1),
    0 0 0 2px rgba(var(--color-white-rgb), 0.05),
    0.375rem 0.375rem 0.75rem 0 rgba(var(--color-black-rgb), 0.2);
}

.buttonCross {
  composes: circle;
  border: 2px solid var(--color-dark);
  background-image:
    url('../images/x-close.svg'),
    linear-gradient(#335a87 0%, #2f537e 33%, #264262 100%);
  box-shadow:
    inset -1px 1px 1px 0 rgba(var(--color-white-rgb), 0.1),
    0.375rem 0.375rem 0.75rem 0 rgba(var(--color-black-rgb), 0.2);
}

.buttonsLine {
  margin: 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
