.buttonPrimary {
  composes: buttonText from '../Typography/Typography.module.css';
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  height: 2.25rem;
  line-height: 2.25rem;
  border: 1px solid var(--color-white);
  border-radius: 1.125rem;
  padding: 0 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  box-shadow:
    inset -1px 1px 1px 0 rgba(255, 255, 255, 0.1),
    0.375rem 0.375rem 0.75rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttonPrimary:disabled {
  border: 1px solid rgba(242, 239, 238, 0.3);
}

.buttonSecondary {
  composes: buttonText from '../Typography/Typography.module.css';
  height: 2.25rem;
  border: 0;
  padding: 0 2rem;
  background: none;
  text-decoration: underline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonTertiary {
  composes: buttonPrimary;
  line-height: 2rem;
  border: 2px solid rgba(140, 20, 90, 0.75);
  background: linear-gradient(140deg, #4f405c12 0%, #8c145a62 100%);
  box-shadow: none;
}

.buttonTertiary:disabled {
  border: 2px solid rgba(79, 64, 92, 0.5);
}

.buttonIcon {
  border: 0;
  padding: 0;
  background: none no-repeat center/contain;
  display: inline-flex;
  cursor: pointer;
}

.circle {
  composes: buttonIcon;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  box-shadow:
    inset -1px 1px 1px 0 rgba(255, 255, 255, 0.1),
    0.375rem 0.375rem 0.75rem 0 rgba(0, 0, 0, 0.2);
}

.buttonCheckmark {
  composes: circle;
  background-image:
    url('../images/checkmark.svg'),
    linear-gradient(140deg, var(--color-dark) 0%, var(--color-pink) 100%);
  background-size: auto;
  margin: 0 0.375rem 0 0.375rem;
}

.buttonCross {
  composes: circle;
  box-shadow: none;
  border: double 2.2px transparent;
  background-image:
    url('../images/x-close.svg'),
    linear-gradient(#363657, #363657),
    linear-gradient(140deg, var(--color-dark) 0%, var(--color-pink) 100%);
  background-origin: border-box;
  background-clip: border-box, content-box, border-box;
  background-size: auto;
}
