.icon {
  composes: buttonIcon from './Button.module.css';
  background-image: url('../images/plus-circle.svg');
  width: 2rem;
  height: 2rem;
}

.wide {
  composes: buttonWide from './Button.module.css';

  --wide-button-icon: url('../../components/images/import.svg');
}
