.wrapper {
  /* needed to position the menu relative to the button */
  position: relative;
}

.dropdown {
  --gradient-start: #294466;
  --gradient-end: #0a1b2f;
  --item-height: 1.25rem;

  /* place it covering the button with an overlap */
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  width: calc(180rem / 16);

  /* following generates the menu footer */
  --footer-height: 0.375rem;

  padding-bottom: var(--footer-height);
  background-size: var(--footer-height);
  background-image: linear-gradient(var(--gradient-start) 0%, var(--gradient-end) var(--footer-height));
  background-position: bottom;
  box-shadow: 0.375rem 0.375rem 0.75rem 0 rgb(var(--color-black-rgb) / 50%);
  z-index: 1;
}

.toggle {
  /* needed for z-index to work */
  position: relative;
  cursor: pointer;
}

.toggle[aria-expanded='true'] {
  /* keep the toggle button visible on top of menu */
  z-index: 2;
  opacity: 0.35;
}

.heading {
  composes: buttonText from '../Typography/Typography.module.css';
  background: linear-gradient(var(--gradient-start) 0%, var(--gradient-end) 100%);
  color: var(--color-grey-light);
  margin: 0;
  padding: 0.5rem 0.75rem;
  height: var(--item-height);
  line-height: var(--item-height);
  border-bottom: 1px solid #352b3e;
  text-align: left;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: #234264;
}

.listItem {
  composes: subline from '../Typography/Typography.module.css';
  font-size: calc(11rem / 16);
  display: grid;
  margin: 0;
  padding: 0;
  border-top: 1px solid #655276;
  border-bottom: 1px solid rgb(var(--color-black-rgb) / 33%);
}

.listItem:hover {
  background-color: rgb(var(--color-black-rgb) / 20%);
}

.disabled {
  composes: listItem;
  pointer-events: none;
}

.listButton {
  composes: subline from '../Typography/Typography.module.css';
  font-size: calc(11rem / 16);
  border: 0;
  padding: 0.5rem 0.75rem;
  min-height: calc(var(--item-height) + 0.5rem * 2);
  text-align: left;
  background: none;
  cursor: pointer;
}

.listButton:disabled {
  opacity: 0.25;
}

.listItem a {
  display: flex;
  min-height: var(--item-height);
  padding: 0.5rem 0.75rem;
  align-items: center;
  color: var(--color-grey-light);
  text-decoration: none;
}
