.overlay {
  composes: overlay from '../../components/Overlay/Overlay.module.css';
  max-width: 100%;
  max-height: 100%;
  height: calc(100% - 2rem);
  inset: 1rem;
  padding: 1rem;
}

.text {
  composes: text from '../../components/Overlay/Overlay.module.css';
  background: url('../../components/images/transaction-error.svg') no-repeat top center/4rem;
  padding-top: 5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.text a {
  color: var(--color-lightest);
}

.details {
  composes: input from '../../components/Input/Input.module.css';
  flex-grow: 1;
  align-self: stretch;
  margin-bottom: 1rem;
}
