/* Note this is not a CSS Modules file, the styles here will be applied globally */

@import url('~dialog-polyfill/dist/dialog-polyfill.css');

:root {
  --color-orange: #ff6500;
  --color-orange-rgb: 255 101 0;
  --color-dark: #172a40;
  --color-dark-rgb: 23 42 64;
  --color-medium: #2e3f53;
  --color-medium-rgb: 46 63 83;
  --color-lighter: #3e5571;
  --color-lighter-rgb: 62 85 113;
  --color-lightest: #8aafe5;
  --color-lightest-rgb: 138 175 229;
  --color-green: #5ab9aa;
  --color-green-rgb: 90 185 170;
  --color-grey-light: #f2efee;
  --color-grey-light-rgb: 242 239 238;
  --color-grey-medium: #a8a8a8;
  --color-grey-medium-rgb: 168 168 168;
  --color-black: black;
  --color-black-rgb: 0 0 0;
  --color-white: white;
  --color-white-rgb: 255 255 255;
  --input-gradient: linear-gradient(90deg, #335a87 0%, #2f537e 33%, #264262 100%);
  --popup-width: 480px;
  --popup-height: 600px;

  font-size: 16px;
}

@font-face {
  font-family: 'Montserrat Bold';
  font-weight: bold;
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  font-weight: 600;
  src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat Medium';
  font-weight: 500;
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/Roboto-Mono.woff2') format('woff2');
}
