html,
body {
  width: var(--popup-width);
  height: var(--popup-height);
}

body {
  margin: 0;
  padding: 0;
  background: #223249;
}

.container {
  composes: view from '../../components/View/View.module.css';
}

.menus {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 1rem;
}
