body {
  margin: 0;
  padding: 0;
}

#popup {
  background: url('../../components/images/background.png') center/contain;
}

.container {
  composes: view from "../../components/View/View.module.css";
}

.menus {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 1rem;
}
