html,
body {
  width: var(--popup-width);
  height: var(--popup-height);
}

body {
  margin: 0;
  padding: 0;
  background: #223249;
}

.container {
  composes: view from '../../components/View/View.module.css';
}

.containerInternal {
  composes: container;
  border: 0.125rem solid black;
  border-image: repeating-linear-gradient(-45deg, black 0 1rem, yellow 1rem 2rem) 4 stretch;
}

.menus {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 1rem;
}
