.credentialsList {
  composes: list from '../Card/Card.module.css';
}

.credential {
  composes: card from '../Card/Card.module.css';
}

.expand {
  composes: expand from '../Card/Card.module.css';
}

.collapsedCredential {
  composes: collapsedCard from '../Card/Card.module.css';
}

.collapsedName {
  composes: collapsedName from '../Card/Card.module.css';
}

.collapsedFirstProp {
  composes: collapsedFirstProp from '../Card/Card.module.css';
}

.expanded {
  composes: expanded from '../Card/Card.module.css';
}

.collapse {
  composes: collapse from '../Card/Card.module.css';
}
