.credentialsList {
  composes: fullWidthContainer from '../../components/View/View.module.css';
  list-style: none;
}

.credential {
  composes: card from '../Card/Card.module.css';
}

.unusableCredential {
  composes: credential;
}

.selectable {
  composes: credential;
  position: relative;
}

.expand {
  composes: expand from '../Card/Card.module.css';
}

.downloadPrompt {
  composes: downloadPrompt from '../Card/Card.module.css';
}

.shareExpand {
  composes: expand;
}

.collapsedCredential {
  composes: collapsedCard from '../Card/Card.module.css';
}

.collapsedShareCredential {
  composes: collapsedCredential;
  padding-left: 3rem;
  width: 80%;
}

.collapsedName {
  composes: collapsedName from '../Card/Card.module.css';
}

.unusableCredential .collapsedName {
  color: rgba(var(--color-grey-light-rgb) / 33%);
}

.collapsedValue {
  composes: collapsedValue from '../Card/Card.module.css';
}

.unusableCredential .collapsedValue {
  color: rgba(var(--color-grey-light-rgb) / 33%);
}

.expanded {
  composes: expanded from '../Card/Card.module.css';
}

.shareExpanded {
  composes: expanded;
  padding: 0.75rem 2.5rem 2rem 3rem;
}

.buttons {
  composes: buttons from '../Card/Card.module.css';
}

.collapse {
  composes: collapse from '../Card/Card.module.css';
}

.download {
  composes: download from '../Card/Card.module.css';
}

.download[disabled] {
  opacity: 0.33;
}

.downloadPromptExpanded {
  composes: downloadPromptExpanded from '../Card/Card.module.css';
}

.presentation {
  composes: presentation from '../Card/Card.module.css';
}

.presentation[disabled] {
  opacity: 0.33;
}

.remove {
  composes: remove from '../Card/Card.module.css';
}

.details {
  composes: details from '../Card/Card.module.css';
}

.detail {
  composes: detail from '../Card/Card.module.css';
}

.detailName {
  composes: detailName from '../Card/Card.module.css';
}

.detailValue {
  composes: detailValue from '../Card/Card.module.css';
}

.unusableCredential .detailValue {
  color: rgba(var(--color-grey-light-rgb) / 33%);
}

.detailValue.unusableValue {
  color: red;
}

.nameValue {
  composes: detailValue;
  padding-right: 1rem;
  position: relative;
}

.editName {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  width: 0.75rem;
  height: 0.75rem;
  background-image: url('../../components/images/pencil-opaque.svg');
  position: absolute;
  right: 0;
  top: 0;
}

.input {
  composes: inputName from '../Input/Input.module.css';
  height: 1.5rem;
  font-size: 0.75rem;
  background-size: 0.75rem, auto;
}

.hash {
  composes: fullWidthDetail from '../Card/Card.module.css';
}

.technical {
  composes: technical from '../Card/Card.module.css';
}

.shareTechnical {
  composes: technical;
  margin-left: -1.5rem;
}

.selectOne {
  composes: inputRadio from '../../components/Input/Input.module.css';
  position: absolute;
  top: 0.75rem;
  left: 1.5rem;
}

.selectMultiple {
  --diameter: 0.75rem;

  appearance: none;
  position: absolute;
  top: 0.75rem;
  left: 1.5rem;
  margin: 0;
  z-index: 2;
  height: var(--diameter);
  width: var(--diameter);
  border: 1px solid var(--color-white);
  background: linear-gradient(#547099 0%, #304765 43.95%, #0a1b2f 100%);
  cursor: pointer;
  border-radius: calc(3rem / 16);
}

.selectMultiple:checked::after {
  --tick-size: calc(var(--diameter) * 1.25);

  width: var(--tick-size);
  height: var(--tick-size);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: ' ';
  background: url('../images/checkmark-bold.svg') no-repeat
    center/var(--tick-size);
}

.selectMultiple:disabled {
  opacity: 0.3;
}

.share {
  composes: checkbox from '../../components/Checkbox/Checkbox.module.css';
}

.shareLabel {
  display: flex;
}

.share + * {
  --size: 0.75rem;

  flex-shrink: 0;
  margin-right: 0.25rem;
  box-sizing: border-box;
}

.notUsable {
  opacity: 0.3;
}

.required::after {
  content: ' * ';
}

.requiredInfo {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-size: 0.625rem;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.overlay {
  composes: overlay from '../../components/Overlay/Overlay.module.css';
}

.warning {
  composes: heading from '../../components/Overlay/Overlay.module.css';
  background: url('../../components/images/transaction-error.svg') no-repeat top
    center/4rem;
  padding-top: 5rem;
  margin: 0;
  color: var(--color-orange);
}

.explanation {
  composes: text from '../../components/Overlay/Overlay.module.css';
}

.confirmDelete {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  padding: 0;
}

.cancelDelete {
  composes: button from '../../components/Overlay/Overlay.module.css';
  margin: 1rem 0;
}

.downloadInfo {
  composes: text from '../../components/Overlay/Overlay.module.css';
  background: url('../../components/images/info.svg') no-repeat top center/4rem;
  padding-top: 5rem;
  margin: 0;
}

.confirmDownload {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  margin: 0.75rem 0 0.5rem;
}

.cancelDownload {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.toggleLabel {
  composes: smallText from '../../components/Typography/Typography.module.css';
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  composes: toggle from '../../components/Toggle/Toggle.module.css';
}

.learnMore {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  color: var(--color-orange);
  white-space: nowrap;
  padding-right: 0;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin-top: 0;
  margin-bottom: 0.5rem;
  max-width: 100%;
}
