.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.credentials {
  composes: list from '../../components/Card/Card.module.css';
  height: calc(288rem / 16);
}

.info {
  composes: importantHeadline from '../../components/Typography/Typography.module.css';
  font-size: 1.125rem;
  color: rgb(var(--color-white-rgb) / 33%);
  margin: 5rem 0 1.25rem;
}

.explainerLink {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}
