.container {
  width: calc(232rem / 16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: calc(58rem / 16);
}

.chevron {
  width: 1rem;
  height: 2rem;
}

.left {
  background-image: url('../images/chevron-left.svg');
}

.right {
  background-image: url('../images/chevron-right.svg');
}
