.container {
  position: relative;
  width: 100%;
}

.chevron {
  position: absolute;
  top: 2rem;
  width: 1rem;
  height: 2rem;
}

.left {
  background-image: url('../images/chevron-left.svg');
  left: 6.25rem;
}

.right {
  background-image: url('../images/chevron-right.svg');
  right: 6.25rem;
}
