.wrapper {
  composes: wrapper from '../../components/Menu/Menu.module.css';
  display: inline-flex;
  margin-left: 0.5rem;
}

.heading {
  composes: heading from '../../components/Menu/Menu.module.css';
  text-align: left;
}

.toggle {
  composes: toggle from '../../components/Menu/Menu.module.css';

  display: inline-flex;
  width: 1.625rem;
  height: 1.625rem;
  border: 0;
  padding: 0;
  background: url('../../components/images/chevron-down.svg') no-repeat
    center/0.75rem;
}

.toggle[aria-expanded='true'] {
  transform: rotate(180deg);
}
