.container {
  composes: container from '../View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  margin-bottom: 2rem;
}

.text {
  composes: subline from '../../components/Typography/Typography.module.css';
  overflow-wrap: anywhere;
}
