.container {
  composes: container from '../../components/View/View.module.css';
  height: calc(100% - 2.5rem);

  /* Make it cover the full popup so that the files can be dropped anywhere */
  margin-top: -4rem;
  margin-inline: -1.5rem;
  padding: 4rem 1.5rem 2.5rem;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.workspace {
  composes: fullWidthContainer from '../../components/View/View.module.css';
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 1.5rem;
  flex-grow: 1;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.125rem dashed var(--color-grey-medium);
}

.drop {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin-bottom: 0;
  padding-top: 10rem;
  background: url('../../components/images/jsons.svg') no-repeat center top;
}

.fileLabel {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.file {
  display: none;
}

.imports {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fileImport {
  --color-text: var(--color-grey-light);
  --color-bar: transparent;
  --background-image: url('../../components/images/json.svg');

  margin-bottom: 1.25rem;
  padding-left: 3.25rem;
  background: var(--background-image) no-repeat left center;
  display: flex;
  flex-flow: wrap row;
  align-items: stretch;
  composes: inputText from '../../components/Typography/Typography.module.css';
  color: var(--color-text);
  text-align: left;
}

.fileName {
  font-weight: normal;
  margin: 0;
  max-width: calc(100% - 2rem);
  word-break: break-all;
}

.successfulFileName {
  composes: fileName;
  width: 100%;
  max-width: 100%;
  padding-right: 2rem;
  background: url('../../components/images/checkmark-bold.svg') no-repeat right 0.25rem center/1rem;
}

.fileResult {
  width: 100%;
  margin: 0.5rem 0 0;
}

.fileResult::before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  margin-bottom: 0.5rem;
  border: calc(3rem / 16) solid var(--color-bar);
  border-radius: calc(3rem / 16);
}

.fileResultFail {
  composes: fileResult;
  padding: 0;
  border: 0;
  background: url('../../components/images/info-solid-red.svg') no-repeat right 0.375rem bottom 0.25rem/0.75rem;
  cursor: pointer;
  composes: inputText from '../../components/Typography/Typography.module.css';
  color: var(--color-text);
  text-align: left;
}

.fileHide {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  margin-left: auto;
  margin-right: 0;
  width: 1.5rem;
  height: 1.125rem;
  background-image: url('../../components/images/x-close-red.svg');
  background-size: 0.75rem;
}

.successfulImport {
  composes: fileImport;

  --color-text: var(--color-grey-light);
  --color-bar: var(--color-green);
}

.failedImport {
  composes: fileImport;

  --color-text: #f00;
  --color-bar: rgb(255 0 0 / 50%);
  --background-image: url('../../components/images/json-red.svg');
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.more {
  composes: buttonWide from '../../components/Button/Button.module.css';
  margin-block: 0.5rem;

  --wide-button-icon: url('../../components/images/import.svg');
}

.home {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.overlay {
  composes: overlay from '../../components/Overlay/Overlay.module.css';
}

.overlayText {
  composes: subline from '../../components/Typography/Typography.module.css';
  background: url('../../components/images/info.svg') no-repeat top center;
  margin-top: 0;
  padding-top: 5rem;
  text-align: center;
  line-height: 1.25rem;
}

.overlayClose {
  composes: button from '../../components/Overlay/Overlay.module.css';
}
