.container {
  composes: container from '../../components/View/View.module.css';
}

.headline {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  color: var(--color-orange);
  margin-top: 0.75rem;
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0.25rem 0 0;
}

.warning {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin-top: 1rem;
  padding-top: 7.5rem;
  background: url('../../components/images/attention-hand.svg') no-repeat top center;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
}

.confirm {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.cancel {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}
