.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0;
}

.credentials {
  composes: fullWidthContainer from '../../components/View/View.module.css';
  height: calc(370rem / 16);
  padding: 0;
  margin-top: 0.75rem;
}

.identityLine {
  composes: component from '../../components/IdentityLine/IdentityLine.module.css';
  padding-inline: 1.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.next {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}
