.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.detailsContainer {
  width: 100%;
  max-height: calc(140rem / 16);
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 1rem 0;
}

.detailsContainer::-webkit-scrollbar {
  display: none;
}

.details {
  composes: details from '../../components/Card/Card.module.css';
}

.detail {
  composes: detail from '../../components/Card/Card.module.css';
}

.detailName {
  composes: detailName from '../../components/Card/Card.module.css';
}

.detailValue {
  composes: detailValue from '../../components/Card/Card.module.css';
}

.name {
  composes: fullWidthDetail from '../../components/Card/Card.module.css';
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin: 0;
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
}
