.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.details {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-size: 0.675rem;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.detailName {
  width: 5rem;
  margin: 0.25rem 0;
}

.detailValue {
  width: calc(100% - 6rem);
  max-width: calc(100% - 6rem);
  margin: 0.25rem;
  text-align: left;
  color: var(--color-grey-light);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.expanded {
  overflow: auto;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
}

.reject {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
  top: 2.5rem;
  left: 75%;
}

.didLine {
  composes: didLine from '../DidEndpointsSign/DidEndpointsSign.module.css';
}

.fullWidthDetail {
  composes: fullWidthDetail from '../DidEndpointsSign/DidEndpointsSign.module.css';
}
