.cardsContainer {
  height: calc(288rem / 16);
  width: calc(100% + 3rem);
  margin: 0.25rem -1.5rem 0;
  padding: 0.75rem 0 0;
  background: var(--color-dark);
  box-shadow:
    inset 0 -3px 6px 0 rgb(var(--color-black-rgb) / 30%),
    inset 0 3px 6px 0 rgb(var(--color-black-rgb) / 30%);
  list-style: none;
}

.scrollContainer {
  composes: cardsContainer;
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.list {
  width: calc(100% + 3rem);
  margin: 0.25rem -1.5rem 0;
  padding: 0.75rem 0 0;
  background: var(--color-dark);
  box-shadow:
    inset 0 -3px 6px 0 rgb(var(--color-black-rgb) / 30%),
    inset 0 3px 6px 0 rgb(var(--color-black-rgb) / 30%);
  list-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.card {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
  border: 1px solid rgb(var(--color-white-rgb) / 10%);
  box-shadow: 0 -1px 2px 0 rgb(var(--color-black-rgb) / 30%);
}

.card:not(:first-child) {
  margin-top: -1rem;
}

.card:nth-child(2n + 1) {
  background-color: var(--color-medium);

  --hr-border-top: var(--color-dark);
  --hr-border-bottom: var(--color-lighter);
}

.card:nth-child(2n) {
  background-color: var(--color-lighter);

  --hr-border-top: var(--color-medium);
  --hr-border-bottom: #637ba3;
}

.expand {
  display: inline-flex;
  width: 100%;
  height: 3.25rem;
  padding: calc(11rem / 16) 0 0;
  background: url('../../components/images/chevron-down.svg') no-repeat right 1rem top 0.75rem/0.75rem;
  border: none;
  cursor: pointer;
}

.card:last-child .expand {
  height: 2.25rem;
}

.cardText {
  composes: smallText from '../../components/Typography/Typography.module.css';
  color: var(--color-grey-light);
}

.collapsedCard {
  composes: cardText;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding-left: 1.5rem;
  text-align: start;
  width: 85%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapsedName {
  composes: ellipsis;
  width: 35%;
  margin: 0;
}

.collapsedValue {
  composes: ellipsis;
  width: 60%;
  margin: 0;
  padding-left: 1.5rem;
}

.expanded {
  position: relative;
  padding: 1rem 2.5rem 2rem 1.5rem;
}

.collapse {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  width: var(--button-size);
  height: var(--button-size);
  background-image: url('../../components/images/chevron-up.svg');
}

.details {
  width: 100%;
  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 0.5rem 1.875rem;
  justify-items: start;
  text-align: start;
  word-break: break-word;
  margin: 0;
}

.detail {
  width: 100%;
}

.detailName {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-size: 0.625rem;
}

.detailValue {
  composes: cardText;
  margin: 0;
}

.fullWidthDetail {
  composes: detail;
  grid-column: span 2;
}

.technical {
  composes: balanceText from '../../components/Typography/Typography.module.css';
  font-size: 0.625rem;
  position: relative;
  overflow: hidden;
  text-align: start;
  margin: 0.75rem 0;
}

.technical::after {
  content: '';
  box-sizing: border-box;
  border-top: 1px solid var(--hr-border-top);
  border-bottom: 1px solid var(--hr-border-bottom);
  border-left: none;
  border-right: none;
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 2px;
  margin-left: 0.25rem;
}
