.card {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
  border: 1px solid rgb(var(--color-white-rgb) / 10%);
  box-shadow: 0 -1px 2px 0 rgb(var(--color-black-rgb) / 30%);

  --notification-size: 0.625rem;
}

.card:not(:first-child) {
  margin-top: -1rem;
}

.card:nth-child(2n + 1) {
  background-color: var(--color-medium);

  --card-color-secondary: var(--color-dark);
  --card-color-tertiary: var(--color-lighter);
}

.card:nth-child(2n) {
  background-color: var(--color-lighter);

  --card-color-secondary: var(--color-medium);
  --card-color-tertiary: #637ba3;
}

.expand {
  display: inline-flex;
  width: 100%;
  height: 3.25rem;
  padding: calc(11rem / 16) 0 0;
  background: url('../../components/images/chevron-down.svg') no-repeat right
    1rem top 0.75rem/0.75rem;
  border: none;
  cursor: pointer;
}

.downloadPrompt {
  composes: expand;
  position: relative;
}

.downloadPrompt::after {
  content: '';
  position: absolute;
  width: var(--notification-size);
  height: var(--notification-size);
  border-radius: 50%;
  top: calc(11rem / 16);
  right: 2.25rem;
  background: var(--color-orange);
  border: 1px solid rgb(var(--color-black-rgb) / 15%);
}

.card:last-child .expand {
  height: 2.25rem;
}

.card:last-child {
  border-bottom: none;
  box-shadow:
    0 -1px 2px rgb(var(--color-black-rgb) / 30%),
    inset 0 -3px 6px rgb(var(--color-black-rgb) / 30%);
}

.cardText {
  composes: smallText from '../../components/Typography/Typography.module.css';
  color: var(--color-grey-light);
}

.collapsedCard {
  composes: cardText;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding-left: 1.5rem;
  text-align: start;
  width: 85%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapsedName {
  composes: ellipsis;
  width: 35%;
  margin: 0;
}

.collapsedValue {
  composes: ellipsis;
  width: 60%;
  margin: 0;
  padding-left: 1.5rem;
}

.expanded {
  position: relative;
  padding: 1rem 2.5rem 2rem 1.5rem;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  --button-size: 1.75rem;
  --icon-size: 0.75rem;
}

.button {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  width: var(--button-size);
  height: var(--button-size);
  background-size: var(--icon-size);
}

.collapse {
  composes: button;
  background-image: url('../../components/images/chevron-up.svg');
}

.download {
  composes: button;
  background-image: url('../../components/images/backup.svg');
}

.presentation {
  composes: button;
  background-image: url('../../components/images/share.svg');
}

.downloadPromptExpanded {
  composes: download;
  position: relative;
  background-color: var(--card-color-secondary);
  border-radius: 50%;
}

.downloadPromptExpanded::after {
  content: '';
  position: absolute;
  width: var(--notification-size);
  height: var(--notification-size);
  border-radius: 50%;
  top: -0.125rem;
  left: -0.125rem;
  background: var(--color-orange);
  border: 1px solid rgb(var(--color-black-rgb) / 15%);
}

.remove {
  composes: button;
  background-image: url('../../components/images/trash-bin.svg');
}

.details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1.875rem;
  justify-items: start;
  text-align: start;
  word-break: break-word;
  margin: 0;
}

.detail {
  width: 100%;
}

.detailName {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-size: 0.625rem;
}

.detailValue {
  composes: cardText;
  margin: 0;
}

.fullWidthDetail {
  composes: detail;
  grid-column: span 2;
}

.technical {
  composes: balanceText from '../../components/Typography/Typography.module.css';
  font-size: 0.625rem;
  position: relative;
  overflow: hidden;
  text-align: start;
  margin: 0.75rem 0;
}

.technical::after {
  content: '';
  box-sizing: border-box;
  border-top: 1px solid var(--card-color-secondary);
  border-bottom: 1px solid var(--card-color-tertiary);
  border-left: none;
  border-right: none;
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 2px;
  margin-left: 0.25rem;
}
