.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.didLine {
  composes: didLine from '../../components/CopyValue/CopyValue.module.css';
  margin-top: 1.5rem;
}

.explanation {
  composes: subline from '../../components/Typography/Typography.module.css';
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
}

.avatar {
  composes: avatar from '../../components/Avatar/Avatar.module.css';

  --size: calc(48rem / 16);

  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
  background: rgb(var(--color-orange-rgb) / 60%) no-repeat;
}

.deposit {
  composes: explanation;
  padding-left: calc(68rem / 16);
  background: url('../../components/images/deposit.svg') no-repeat left center;
}

.web3Name {
  composes: identityText from '../../components/Typography/Typography.module.css';
  margin-block: 0.75rem 0;
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin-block: 0.5rem 0;
}

.paymentMethods {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  padding-inline: calc(68rem / 16);
  margin-top: 1.5rem;
}

.paymentMethodsError {
  composes: paymentMethods;
  gap: 1.5rem;
}

.paymentMethod {
  composes: smallText from '../../components/Typography/Typography.module.css';
  color: var(--color-grey-light);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  position: relative;
}

.inputLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.kilt {
  composes: inputLabel;
}

.insufficientKilt {
  composes: kilt;
  opacity: 0.3;
}

.euro {
  composes: inputLabel;
}

.select {
  composes: inputRadio from '../../components/Input/Input.module.css';
  margin: 0 0.75rem 0 0;
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
  top: 1.125rem;
  left: -1rem;
  transform: none;
}

.errorTooltip::after {
  left: 1.125rem;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin-top: 1.5rem;
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.upgrade {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.deleted {
  composes: explanation;
  text-align: center;
  margin: 2rem 0 1rem;
}

.back {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.next {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}
