.container {
  composes: container from '../../components/View/View.module.css';
  height: calc(100% - 3rem);
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.didLine {
  composes: didLine from '../../components/CopyValue/CopyValue.module.css';
  margin-top: 1.5rem;
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  line-height: 1.25rem;
  text-align: left;
}

.warning {
  composes: smallImportant from '../../components/Typography/Typography.module.css';
  width: 100%;
  text-align: left;
  margin-top: 0;
  font-size: 0.875rem;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin-top: auto;
}

.next {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.back {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}
