.container {
  composes: overlay from '../../components/Overlay/Overlay.module.css';
  width: calc(284rem / 16);
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  background: url('../images/info.svg') no-repeat top center;
  margin-top: 0;
  padding-top: 5rem;
  text-align: center;
  line-height: 1.25rem;
}

.close {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}