.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.didLine {
  composes: didLine from '../../components/CopyValue/CopyValue.module.css';
  margin-top: 1.5rem;
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  line-height: 1.25rem;
  white-space: pre-line;
}

.inputLine {
  position: relative;
  align-self: stretch;
  margin: 0;
}

.input {
  composes: inputName from '../../components/Input/Input.module.css';
  width: calc(100% - 3.5rem);
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
}

.next {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.back {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}
