.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.label {
  composes: smallText from '../../components/Typography/Typography.module.css';
  width: 100%;
  margin: 0;
  text-align: left;
}

.origin {
  composes: inputText from '../../components/Typography/Typography.module.css';
  width: 100%;
  margin: 0.5rem 0;
  text-align: left;
}

.plaintextLine {
  position: relative;
  width: 100%;
  margin: 0.5rem 0;
}

.plaintext {
  composes: input from '../../components/Input/Input.module.css';
  width: calc(100% - 3.5rem);
  height: 3rem;
  padding-right: 2.5rem;
}

.address {
  composes: input from '../../components/Input/Input.module.css';
  font-size: 0.75rem;
  width: calc(100% - 3.5rem);
  padding-right: 2.5rem;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
}

.reject {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
  top: 2.5rem;
  left: 75%;
}
