.component {
  position: relative;
  display: inline-block;
  padding: 3%;
  background: var(--color-white);
}

.component > svg {
  width: 100%;
  height: 100%;
}

.logo {
  --size: 20%;

  position: absolute;
  height: var(--size);
  width: var(--size);
  top: calc((100% - var(--size)) / 2);
  left: calc((100% - var(--size)) / 2);
  background: var(--color-white) url('../images/kilt-logo.svg') no-repeat center/contain;
}
