.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  margin-bottom: calc(31rem / 16);
}

.link {
  composes: buttonWide from '../../components/Button/Button.module.css';
  margin: 0.75rem 0 0;
}

.didLine {
  composes: didLine from '../../components/CopyValue/CopyValue.module.css';
  margin-top: 1.5rem;
}

.web3NameLine {
  composes: input from '../../components/CopyValue/CopyValue.module.css';
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;

  --copy-value-icon-size: 1.5rem;
  --copy-value-icon: url('../../components/images/web3name.svg');
}

.linking {
  composes: buttonWide from '../../components/Button/Button.module.css';
  margin: 0.75rem 0 0;

  --wide-button-icon: url('../../components/images/linking_page.svg');
}

.endpoints {
  composes: link;

  --wide-button-icon: url('../../components/images/service-endpoint.svg');
}

.web3Name {
  composes: link;

  --wide-button-icon: url('../../components/images/web3name.svg');
}

.downgrade {
  composes: link;

  --wide-button-icon: url('../../components/images/manage-did.svg');
}
