.nameLine {
  composes: identityText from '../Typography/Typography.module.css';
  position: relative;
  padding-left: 2.125rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.375rem;
}

.centeredNameLine {
  composes: nameLine;
  padding-left: 0;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  composes: input from '../Input/Input.module.css';
  width: calc(232rem / 16);
  background-image: url('../images/pencil.svg'), var(--input-gradient);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center, 0;
  padding-right: 2.25rem;
  margin: 1rem 0 1rem 0;
}

.save {
  composes: buttonCheckmark from '../Button/Button.module.css';
}

.cancel {
  composes: buttonCross from '../Button/Button.module.css';
}

.new {
  composes: nameLine;
  padding: 0;
  margin-bottom: 0;
}

.import {
  composes: buttonSecondary from '../Button/Button.module.css';
  margin-top: 1rem;
}

.create {
  composes: avatar from '../../components/Avatar/Avatar.module.css';
  background: rgba(0, 0, 0, 0.3) url('../images/plus-circle.svg') no-repeat center/100%;
  border-radius: 50%;
}
