.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.didLine {
  composes: didLine from '../../components/CopyValue/CopyValue.module.css';
  margin-top: 1rem;
}

.loading {
  composes: spinner from '../../components/LoadingSpinner/LoadingSpinner.module.css';
  margin: 5rem auto;
}

.list {
  composes: fullWidthContainer from '../../components/View/View.module.css';
  list-style: none;
  height: calc(250rem / 16);
  margin-top: 0.75rem;
}

.card {
  composes: card from '../../components/Card/Card.module.css';
  padding-inline: 1.5rem;
  padding-bottom: 1rem;
  text-align: left;
  position: relative;
}

.card:last-child {
  height: 18rem;
}

.add {
  composes: card;
}

.cardHeading {
  composes: buttonText from '../../components/Typography/Typography.module.css';
  font-size: 0.75rem;
  padding: 0.75rem 0;
  margin: 0;
}

.expand {
  composes: expand from '../../components/Card/Card.module.css';
  composes: cardHeading;
  height: auto;
  background-position: right center;
  text-decoration: none;
}

.addCollapse {
  composes: expand;
  background-image: url('../../components/images/chevron-up.svg');
}

.collapsedCard {
  composes: collapsedCard from '../../components/Card/Card.module.css';
  padding-left: 0;
}

.collapsedUrl {
  composes: collapsedName from '../../components/Card/Card.module.css';
  width: 50rem;
}

.collapsedType {
  composes: collapsedValue from '../../components/Card/Card.module.css';
}

.buttons {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;

  --button-size: 0.75rem;
}

.collapse {
  composes: collapse from '../../components/Card/Card.module.css';
}

.remove {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  width: var(--button-size);
  height: var(--button-size);
  background-image: url('../../components/images/trash-bin.svg');
}

.labelLine {
  position: relative;
}

.label {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-size: 0.625rem;
  display: block;
  width: 100%;
  margin-block: 0.5rem;
}

.input {
  composes: input from '../../components/Input/Input.module.css';
  width: calc(100% - 2rem);
  height: 1.5rem;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin-block: 1.5rem;
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.errorTooltipField {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
  top: 2.5rem;
  left: 60%;
}

.errorTooltip {
  composes: tooltip from '../../components/ErrorTooltip/ErrorTooltip.module.css';
  top: 2.5rem;
  left: 70%;
}

.endpoint {
  composes: card;
}

.name {
  composes: detailName from '../../components/Card/Card.module.css';
  margin-top: 0.5rem;
}

.value {
  composes: detailValue from '../../components/Card/Card.module.css';
  margin-top: 0.125rem;
  margin-bottom: 0.75rem;
  word-break: break-word;
}
