.resetLine {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.reset {
  composes: smallText from '../Typography/Typography.module.css';
  color: var(--color-lightest);
}

.passwordLabel {
  composes: smallText from '../Typography/Typography.module.css';
  margin: 0.75rem 0;
  text-align: left;
}

.passwordLine {
  align-self: stretch;
  position: relative;
  margin: 0;
}

.password {
  composes: input from '../Input/Input.module.css';
  width: calc(100% - 3.5rem);
  padding-right: 2.5rem;
}

.errorTooltip {
  composes: tooltip from '../ErrorTooltip/ErrorTooltip.module.css';
}

.rememberLabel {
  composes: smallText from '../Typography/Typography.module.css';
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.75rem 0.5rem 0.75rem 0;
  cursor: pointer;
}

.remember {
  composes: toggle from '../Toggle/Toggle.module.css';
}
