.checkbox {
  display: none;
}

.checkbox + * {
  --size: 1.25em;

  width: var(--size);
  height: var(--size);
  vertical-align: middle;
  display: inline-block;
  border: 0.125em solid var(--color-grey-light);
  border-radius: 0.375em;
  background: var(--color-pink) linear-gradient(140deg, var(--color-pink) 0%, var(--color-dark) 100%);
  box-shadow: inset 0.125em 0.125em 0.125em 0 rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}

.checkbox:checked + *::after {
  --tick-size: calc(var(--size) * 1.25);

  width: var(--tick-size);
  height: var(--tick-size);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: ' ';
  background: url('../images/checkmark-bold.svg') no-repeat center/var(--tick-size);
}
