.overlay {
  composes: overlay from '../../components/Overlay/Overlay.module.css';
  max-height: calc(428rem / 16);
  text-align: center;
  padding: 1.5rem;
  overflow-y: auto;
}

.heading {
  composes: importantHeadline from '../../components/Typography/Typography.module.css';
  font-size: 0.875rem;
  padding-top: 4.5rem;
  background: url('../../components/images/exclamation.svg') no-repeat top center;
  margin-top: 0;
}

.explanation,
.cta {
  composes: smallText from '../../components/Typography/Typography.module.css';
  color: var(--color-grey-light);
  margin: 0 0 0.5rem;
}

.listHeading {
  composes: importantHeadline from '../../components/Typography/Typography.module.css';
  font-size: 0.875rem;
  margin: 0 0 0.25rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legacyIdentity {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  height: auto;
  font-size: 0.75rem;
  color: var(--color-orange);
  padding: 0.25rem 0;
}

.close {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  margin-top: 0.5rem;
}
