.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6rem;
}

.logo h3 {
  padding-top: 2rem;
}

.info {
  margin: 0;
}

.buttonContainer {
  margin: 3rem 0;
}
