.container {
  composes: container from '../../components/View/View.module.css';
  justify-content: center;
  height: 100%;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin-top: 0.375rem;
  margin-bottom: 0;
  white-space: pre-line;
  line-height: 1.25rem;
  text-align: center;
}

.termsLine {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin-top: 1.25rem;
}

.agreeLabel {
  cursor: pointer;
}

.agree {
  composes: checkbox from '../../components/Checkbox/Checkbox.module.css';
}

.terms {
  composes: subline from '../../components/Typography/Typography.module.css';
}

.terms:not(:hover) {
  text-decoration: none;
}

.create {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.importPhrase {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  margin-top: 1.25rem;
}
