.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
  margin-bottom: 0;
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.create {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  margin-top: 1.25rem;
}

.import {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  margin-top: 1.25rem;
}
