.toggle {
  width: 2.25rem;
  height: 2.25rem;
  border: 0;
  padding: 0;
  background: transparent no-repeat center center/1.25rem;
  position: absolute;
  right: 0.25rem;
}

.show {
  composes: toggle;
  background-image: url('../images/eye-closed.svg');
}

.hide {
  composes: toggle;
  background-image: url('../images/eye-opened.svg');
}
