.toggle {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  width: 2.25rem;
  height: 2.25rem;
  background-size: 1.25rem;
  position: absolute;
  right: 0.25rem;
}

.show {
  composes: toggle;
  background-image: url('../images/eye-closed.svg');
}

.hide {
  composes: toggle;
  background-image: url('../images/eye-opened.svg');
}
