.overlay {
  composes: overlay from '../../components/Overlay/Overlay.module.css';
}

.transparent {
  composes: avatar from '../../components/Avatar/Avatar.module.css';
  opacity: 0.2;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  right: -0.5rem;
  left: -0.5rem;
}

.success {
  composes: wrapper;
}

.success::after {
  background: url('../images/checkmark-circle-green.svg') no-repeat center/auto;
}

.error {
  composes: wrapper;
}

.error::after {
  background: url('../images/transaction-error.svg') no-repeat center/auto;
}

.heading {
  composes: heading from '../../components/Overlay/Overlay.module.css';
  text-align: center;
  font-size: 1.375rem;
}

.confirm {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  padding: 0 3.5rem;
  margin-top: 0.75rem;
}

.status {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
  padding: 0.5rem 0 1rem;
}

.subscan {
  composes: status;
  background: url('../images/subscan-logo-full.svg') no-repeat bottom center/50%;
}
