.overlay {
  composes: overlay from '../../components/Overlay/Overlay.module.css';
  width: 17.75rem;
}

.transparent {
  composes: tartan from '../../components/Avatar/Avatar.module.css';
  opacity: 0.2;
}

.wrapper {
  position: relative;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.success {
  composes: wrapper;
}

.success::after {
  background: url('../images/checkmark-circle-green.svg') no-repeat center/auto;
}

.error {
  composes: wrapper;
}

.error::after {
  background: url('../images/transaction-error.svg') no-repeat center/auto;
}

.heading {
  composes: heading from '../../components/Overlay/Overlay.module.css';
  text-align: center;
  font-size: 1.375rem;
}

.confirm {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  padding: 0 3.5rem;
  margin-top: 0.75rem;
}
