.overlay {
  border: 0;
  border-radius: 0.75rem;
  background:
    linear-gradient(
      135deg,
      #0a1b2f 0%,
      #304765 40%,
      #547099 70%,
      #547099 100%
    );
  box-shadow: 0.375rem 0.375rem 0.75rem 0 rgb(var(--color-black-rgb) / 50%);
  position: absolute;
  top: calc(99rem / 16);
  left: 6.125rem;
  right: 6.125rem;
  padding: 1.75rem;
  max-width: calc(100% - 13rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.heading {
  composes: importantHeadline from '../../components/Typography/Typography.module.css';
  margin: 1.125rem 0 0;
  font-size: 1.375rem;
  color: var(--color-grey-light);
}

.text {
  composes: subline from '../../components/Typography/Typography.module.css';
  text-align: center;
  margin: 0.75rem 0;
}

.button {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  width: 8.5rem;
}
