.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0;
}

.detail {
  display: flex;
  flex-direction: column;
}

.detailName {
  composes: smallText from '../../components/Typography/Typography.module.css';
}

.detailValue {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0;
}

.info {
  composes: subline from '../../components/Typography/Typography.module.css';
  width: 80%;
  margin: 0;
}

.paypal {
  font-family: 'Montserrat Bold', sans-serif;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
  margin: 1.5rem 0 0;
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.submit {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}

.footnote {
  composes: smallText from '../../components/Typography/Typography.module.css';
  font-size: 0.625rem;
  position: absolute;
  bottom: 0;
}
