.avatar {
  width: calc(84rem / 16);
  height: calc(84rem / 16);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3) no-repeat;
}

.identicon {
  --size: calc(72% / 84 * 100);

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
