.tartan {
  width: calc(96rem / 16);
  height: calc(96rem / 16);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0.375rem 0.375rem 0.75rem 0 rgba(0, 0, 0, 0.4);
}

.identicon {
  border: 1px solid var(--color-black);
  border-radius: 50%;
}

.new {
  background: var(--color-dark) url('../images/plus-circle.svg') no-repeat center/100%;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.Armstrong {
  background-image: url('../images/tartans/Armstrong.png');
}

.Barclay {
  background-image: url('../images/tartans/Barclay.png');
}

.Brodie {
  background-image: url('../images/tartans/Brodie.png');
}

.Bruce {
  background-image: url('../images/tartans/Bruce.png');
}

.Buchanan {
  background-image: url('../images/tartans/Buchanan.png');
}

.Cameron {
  background-image: url('../images/tartans/Cameron.png');
}

.Campbell {
  background-image: url('../images/tartans/Campbell.png');
}

.Chisholm {
  background-image: url('../images/tartans/Chisholm.png');
}

.Clanranald {
  background-image: url('../images/tartans/Clanranald.png');
}

.Comyn {
  background-image: url('../images/tartans/Comyn.png');
}

.Cunningham {
  background-image: url('../images/tartans/Cunningham.png');
}

.Douglas {
  background-image: url('../images/tartans/Douglas.png');
}

.Dundas {
  background-image: url('../images/tartans/Dundas.png');
}

.Erskine {
  background-image: url('../images/tartans/Erskine.png');
}

.Farquharson {
  background-image: url('../images/tartans/Farquharson.png');
}

.Forbes {
  background-image: url('../images/tartans/Forbes.png');
}

.Fraser {
  background-image: url('../images/tartans/Fraser.png');
}

.Gordon {
  background-image: url('../images/tartans/Gordon.png');
}

.Graham {
  background-image: url('../images/tartans/Graham.png');
}

.Grant {
  background-image: url('../images/tartans/Grant.png');
}

.Gunn {
  background-image: url('../images/tartans/Gunn.png');
}

.Hamilton {
  background-image: url('../images/tartans/Hamilton.png');
}

.Hay {
  background-image: url('../images/tartans/Hay.png');
}

.Lamont {
  background-image: url('../images/tartans/Lamont.png');
}

.MacArthur {
  background-image: url('../images/tartans/MacArthur.png');
}

.MacDonald {
  background-image: url('../images/tartans/MacDonald.png');
}

.MacDuff {
  background-image: url('../images/tartans/MacDuff.png');
}

.MacFarlane {
  background-image: url('../images/tartans/MacFarlane.png');
}

.MacGregor {
  background-image: url('../images/tartans/MacGregor.png');
}

.MacIntyre {
  background-image: url('../images/tartans/MacIntyre.png');
}

.MacKay {
  background-image: url('../images/tartans/MacKay.png');
}

.MacKenzie {
  background-image: url('../images/tartans/MacKenzie.png');
}

.MacKinnon {
  background-image: url('../images/tartans/MacKinnon.png');
}

.MacKintosh {
  background-image: url('../images/tartans/MacKintosh.png');
}

.MacLachlan {
  background-image: url('../images/tartans/MacLachlan.png');
}

.MacLean {
  background-image: url('../images/tartans/MacLean.png');
}

.MacLeod {
  background-image: url('../images/tartans/MacLeod.png');
}

.MacNab {
  background-image: url('../images/tartans/MacNab.png');
}

.MacNeil {
  background-image: url('../images/tartans/MacNeil.png');
}

.MacPherson {
  background-image: url('../images/tartans/MacPherson.png');
}

.MacQueen {
  background-image: url('../images/tartans/MacQueen.png');
}

.Menzies {
  background-image: url('../images/tartans/Menzies.png');
}

.Munro {
  background-image: url('../images/tartans/Munro.png');
}

.Murray {
  background-image: url('../images/tartans/Murray.png');
}

.Ranald {
  background-image: url('../images/tartans/Ranald.png');
}

.Robertson {
  background-image: url('../images/tartans/Robertson.png');
}

.Scott {
  background-image: url('../images/tartans/Scott.png');
}

.Sinclair {
  background-image: url('../images/tartans/Sinclair.png');
}

.Stewart {
  background-image: url('../images/tartans/Stewart.png');
}

.Stuart {
  background-image: url('../images/tartans/Stuart.png');
}

.Sutherland {
  background-image: url('../images/tartans/Sutherland.png');
}

.Wallace {
  background-image: url('../images/tartans/Wallace.png');
}
