.balanceLine {
  composes: smallText from '../Typography/Typography.module.css';
  font-size: 1.25rem;
  margin: 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.showBreakdown {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  background-image: url('../../components/images/chevron-down-blue.svg');
  width: 1.625rem;
  height: 1.625rem;
  background-size: 0.75rem;
  margin: 0 0 0 0.5rem;
}

.hideBreakdown {
  composes: showBreakdown;
  transform: rotate(180deg);
}

.breakdown {
  composes: smallText from '../../components/Typography/Typography.module.css';
  list-style: none;
  padding: 0;
  margin: 0.25rem 0 0;
}

.balance {
  margin: 0.25rem 0;
}

.connecting {
  composes: spinner from '../../components/LoadingSpinner/LoadingSpinner.module.css';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
