.container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.button {
  align-self: flex-end;
}

.menu {
  border: 1px solid black;
}

.menuHeading {
  background: lightgrey;
  margin: 0;
  padding: 0.25rem;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.listItem {
  padding: 0.25rem;
  border-top: 1px solid black;
}

.hidden {
  visibility: hidden;
}
