.toggle {
  composes: toggle from '../../components/Menu/Menu.module.css';
  composes: buttonIcon from '../../components/Button/Button.module.css';
  width: 1.625rem;
  height: 1.625rem;
  background-image: url('../../components/images/plus-circle.svg');
}
