.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0.25rem 0 0;
}

.origin {
  composes: subline from '../../components/Typography/Typography.module.css';
  max-height: 3rem;
  max-width: 100%;
  word-break: break-all;
  overflow: auto;
}

.warning {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin-top: 1rem;
  padding-top: 7.5rem;
  background: url('../../components/images/attention-hand.svg') no-repeat top center;
}

.authorize {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
  margin: 1rem;
}

.reject {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}
