.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0 0 0.8125rem;
}

.small {
  composes: smallText from '../../components/Typography/Typography.module.css';
  margin-top: 1rem;
}

.addressLine {
  composes: kiltLine from '../../components/CopyValue/CopyValue.module.css';
  margin: 0.25rem 0 1.5rem;
}

.qrCodeToggle {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  display: grid;
  grid-template-areas: 'code';
  width: 30%;
}

.qrCode {
  composes: component from '../../components/QRCode/QRCode.module.css';
  grid-area: code;
}

.qrCodeToggle:hover .qrCodeShadow,
.qrCodeToggle:focus .qrCodeShadow {
  grid-area: code;
  height: 100%;
  background:
    rgb(var(--color-black-rgb) / 70%) url('../../components/images/search.svg')
    center center/1.5rem no-repeat;
  border: 0;
  position: relative;
  cursor: pointer;
}

.qrCodeLarge {
  composes: component from '../../components/QRCode/QRCode.module.css';
  padding: 0;
  width: calc(var(--popup-width) - 4rem);
  display: inline-block;
}

.dialog {
  border: 0;
  overflow: visible;
}

.dialog::backdrop,
.dialog + :global(.backdrop) {
  background: rgb(var(--color-black-rgb) / 70%);
}

.dialogClose {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  position: absolute;
  top: -2rem;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../components/images/x-close.svg');
  background-size: 0.625rem;
  border: 2px solid var(--color-grey-light);
  border-radius: 50%;
}
