.container {
  padding-top: 1rem;
}

.accountBox {
  display: block;
}

.addressBox {
  width: 90%;
  float: left;
  border: 1px solid black;
  overflow: hidden;
}

.qrCodeToggle {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  display: grid;
  grid-template-areas: 'code';
  width: 30%;
}

.qrCode {
  composes: component from '../../components/QRCode/QRCode.module.css';
  grid-area: code;
}

.qrCodeToggle:hover .qrCodeShadow,
.qrCodeToggle:focus .qrCodeShadow {
  grid-area: code;
  background: rgba(0, 0, 0, 0.7) url('../../components/images/search.svg') center center/1.5rem no-repeat;
  border: 0;
  position: relative;
  cursor: pointer;
}

.qrCodeLarge {
  width: calc(var(--popup-width) - 4rem);
  display: inline-block;
}

.dialog {
  border: 0;
  overflow: visible;
}

.dialog::backdrop,
.dialog + :global(.backdrop) {
  background: rgba(0, 0, 0, 0.7);
}

.dialogClose {
  composes: buttonIcon from '../../components/Button/Button.module.css';
  position: absolute;
  top: -2rem;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../components/images/plus-circle.svg');
  transform: rotate(45deg);
}
