.container {
  composes: container from '../../components/View/View.module.css';
}

.heading {
  composes: screenHeadline from '../../components/Typography/Typography.module.css';
}

.subline {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0;
}

.allCredentials {
  composes: scrollContainer from '../../components/Card/Card.module.css';
  height: calc(370rem / 16);
  padding: 0;
  margin-top: 0.75rem;
}

.identityLine {
  composes: subline from '../../components/Typography/Typography.module.css';
  margin: 0;
  height: 3.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.identity {
  display: flex;
  align-items: center;
  margin: 0;
}

.avatar {
  composes: avatar from '../../components/Avatar/Avatar.module.css';
  height: 1.75rem;
  width: 1.75rem;
  background: none;
  margin-right: 0.75rem;
}

.identityCredentials {
  composes: cardsContainer from '../../components/Card/Card.module.css';
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.list {
  composes: list from '../../components/Card/Card.module.css';
  margin: 0;
}

.buttonsLine {
  composes: buttonsLine from '../../components/Button/Button.module.css';
}

.cancel {
  composes: buttonSecondary from '../../components/Button/Button.module.css';
}

.next {
  composes: buttonPrimary from '../../components/Button/Button.module.css';
}
