.toggle {
  composes: toggle from '../../components/Menu/Menu.module.css';

  display: inline-flex;
  width: 1.625rem;
  height: 1.625rem;
  border: 0;
  padding: 0;
  background: url('../../components/images/settings.svg') no-repeat center;
}
