.variables {
  --background: rgba(255, 0, 0, 0.5);
  --arrow: 0.25rem;
  --n-arrow: -0.25rem;
}

.tooltip {
  composes: variables;
  display: none;
  margin: 0;
  border-radius: 0.5rem;
  padding: 0 0.625rem;
  background-color: var(--background);
  composes: errorText from '../Typography/Typography.module.css';
}

.pointer {
  composes: variables;
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: var(--arrow);
  border-right-width: var(--arrow);
  border-bottom: var(--arrow) solid var(--background);
}

.tooltip.visible,
.tooltip.visible > .pointer {
  display: block;
}

.tooltip[data-popper-placement^='top'] > .pointer {
  bottom: var(--n-arrow);
}

.tooltip[data-popper-placement^='bottom'] > .pointer {
  top: var(--n-arrow);
  transform: rotate(180deg);
}

.tooltip[data-popper-placement^='left'] > .pointer {
  right: var(--n-arrow);
  transform: rotate(90deg);
}

.tooltip[data-popper-placement^='right'] > .pointer {
  left: var(--n-arrow);
  transform: rotate(270deg);
}
