name: Packages the internal version
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VARIANT: internal
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Configure Node and package manager
        uses: actions/setup-node@v4
        env:
          SKIP_YARN_COREPACK_CHECK: true
        with:
          node-version-file: 'package.json'
          cache: 'yarn'

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run linter
        run: yarn lint

      - name: Run tests
        run: yarn test

      - name: Build code
        run: yarn build

      - name: Test size
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
        run: yarn run test-size

      - name: Package extension
        run: yarn package

      - name: Rename artifact as internal
        run: cd dist/web-ext-artifacts/ && mv * $(ls | sed 's/-/-internal-/')

      - name: Publish on GitHub
        uses: actions/upload-artifact@v4
        with:
          name: sporran-extension-${{ github.sha }}
          path: dist/web-ext-artifacts/*
