name: Checks pull request
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Configure Node and package manager
        uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run linter
        run: yarn lint

      - name: Run tests
        run: yarn test --maxWorkers=2

      - name: Build code
        run: yarn build

      - name: Test size
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
          CI_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
        run: yarn run test-size

      - name: Package extension
        run: yarn package

      - name: Rename artifact as PR
        run: cd dist/web-ext-artifacts/ && mv * $(ls | sed 's/-/-PR-/')

      - name: Publish on GitHub
        uses: actions/upload-artifact@v3
        with:
          name: sporran-extension-${{ github.sha }}
          path: dist/web-ext-artifacts/*
